@page
@model RazorFood.Pages.FoodModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Our great selection of Food!</h1>
        <h4>Choose one or try our Food Builder then order one and done</h4>
        <h4>No need to give any of your details</h4>
        <h4>We already know everything</h4>
        <p class="smallText"><i>Only one food per order</i></p>
    </div>
</div>