@page
@model RazorFood.Pages.FoodModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomFood">CustomFood</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>