@page
@model RazorFood.Pages.FoodModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Our great selection of Food!</h1>
        <h4>Choose one or try our Food Builder then order one and done</h4>
        <h4>No need to give any of your details</h4>
        <h4>We already know everything</h4>
        <p class="smallText"><i>Only one food per order</i></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img img="~/images/Itachi.jpg" class="w-100"/>
                    </div> 
                    <div class="col-8 alig-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align: left;">Create your own Pizza</h3>
                            <p style="text-align:  left;">Make your own Food  with our FoodMaker</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomFood">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>