@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitize">Welcome To Food Razor Services</h1>
        <h2 class="mainSubtitle">Food services is the food for you and me</h2>
    </div>
    <img height="500px" class="mainImage" src="~/images/Itachi.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring Me That Pizza</a>
</div>
