@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Food Razor Services</h1>
    <h2>Food services is the food for you and me</h2>
    <img class="mainImage" src="~/images/Itachi.jpg"/>
</div>
